html
{
	scroll-padding-top: 26em;
	scroll-behavior: smooth;
}
body
{
	--primary-color: var(--green-color);
	width: 100%;
	overflow-x: hidden;
	background-image: url("../../assets/images/fff.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

body::before
{
	content: "";
	position: fixed;
	background: radial-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.9));
	width: 100%;
	min-height: 100%;
	z-index: -1;
}

#navbar
{
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	padding: 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	/* background-color: var(--hover-green-three); */
}

#navbar.sticky
{
	background-color: var(--hover-green-three);
	padding: 20px 0;
	position: sticky;
}

#navbar>.container
{
	width: 84%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo
{
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 0.05em;
}
.logo span
{
	color: var(--primary-color);
}


#hero
{
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#hero>.container-box
{
	padding: 0;
	margin: 0;
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.restaurant-login-button
{
	margin-top: 3rem;
	background: none;
	color: white;
	padding: 0.75em 2em;
	font-size: 1.5rem;
	border: 2px solid var(--primary-color);
	border-radius: var(--border-radius-pill);
	transition: background-color var(--transition-time) var(--transition-curve);
}

.restaurant-login-button:hover
{
	background-color: var(--primary-color);
}

#hero>.container-box>.hero_text
{
	color: white;
	font-size: 3.5em;
}

#hero>.container-box>.hero_text>span
{
	color: var(--primary-color);
}

#form
{
	padding: 0;
	padding-block: 4em;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

#form>.form_card
{
	background-color: seashell;
	width: 70%;
	padding: 2.5em;
	border-radius: 16px;
	display: grid;
	justify-items: center;
	grid-template-columns: 50% 50%;
}

#form>.form_card>.form_text
{
	color: black;
	padding-inline-end: 2em;
}

.form_text_heading
{
	font-size: 2rem;
	font-weight: bold;
	margin-block-end: 0.5em;
}
.form_text_details
{
	font-size: 1rem;
	opacity: 0.75;
}

.slider
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;
}

.slider-imgBox
{
	border-radius: 8px;
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	transition: opacity 500ms ease-in-out;
}

.slider-imgBox[data-visible="true"]
{
	opacity: 1;
}

.slider-imgBox[data-visible="false"]
{
	opacity: 0;
}
